@font-face{
    font-family: 'Reyy';
    src: url(../fonts/Reey-Regular.otf);
}
@font-face{
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Italic.ttf);
}
@import './variables';
@import  './base';
@import './header';
@import './products';
@import './info';
@import './discount';
@import './special';
@import './services';
@import './subcribe';
@import './footer';













